[push]
# Push current branch even if you've never pushed it before
	default = current
[user]
	name = Glenn Searby
	email = glenn.searby@gmail.com
[merge]
	tool = meld
[core]
	editor = emacsclient -a emacs
[remote]
        pushDefault = origin
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	ff = only
[fetch]
        prune = true
[includeIf "gitdir/i:~/octopus"]
        path = ~/.gitconfig-octopus
[includeIf "gitdir/i:C:/Users/Glenn/"]
        path = ~/.gitconfig-windows