*

!/.gitignore

!/.gitconfig
!/feh/buttons
!/.emacs
!/.emacs.d/*
!/.i3/config
!/.i3/status.conf
!/.profile
!/.quassel/quasselclient.conf
!/.quassel/settings.qss
!/.remmina/1446556920327.remmina
!/.xsessionrc
!/.Xmodmap
!/.Xresources
!/.zsh/*
!/.zshrc