[init]
        defaultBranch = main
[user]
	name = Glenn Searby
	email = glenn.searby@gmail.com
[alias]
        recent = "!git branch --sort=-committerdate --format='%(committerdate:relative)%09%(refname:short)' | head -n 10"
[merge]
	tool = meld
        conflictstyle = zdiff3
[core]
	editor = emacsclient -a emacs
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[pull]
	ff = only
[fetch]
        prune = true
[push]
        autoSetupRemote = true
        # Push current branch even if you've never pushed it before
	default = simple
[diff]
        algorithm = histogram
[rerere]
        enabled = true
[remote]
        pushDefault = origin
[includeIf "gitdir/i:~/octopus/"]
        path = ~/.gitconfig-octopus
[includeIf "gitdir/i:C:/Users/Glenn/"]
        path = ~/.gitconfig-windows