*

!/.gitignore

!/.gitconfig

!/applications
!/applications/*
!/feh
!/.emacs
!/.emacs.d
!/.emacs.d/config
!/.emacs.d/config/*
!/.i3
!/redshift.conf
!/.profile
!/.quassel
!/.remmina
!/screenLayout
!/screenLayout/*
!/.xsessionrc
!/.Xmodmap
!/.Xresources
!/.zsh
!/.zshrc
!/.bashrc