! Loaded on login
! Reload with:
! xrdb -merge $HOME/.Xresources

xterm*urgentOnBell: True
xterm*visualBell: False

xterm*cursorBlink: True
xterm*saveLines: 16384

! Scrolling behaviour
xterm*jumpScroll: False
xterm*skipScroll: False
xterm*scrollTtyOutput: True
xterm*scrollWithBuffer: False
xterm*scrollTtyKeypress: True

! Scrollbar style
xterm*scrollstyle: plain
xterm*scrollBar_right: True

! Fonts
xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 22

! Colours
xterm*background: #000000
xterm*foreground: gray90
xterm*color7: gray90
xterm*colorBD: #ffffff
xterm*cursorColor: #22adb5
xterm*throughColor: #8080f0
xterm*highlightColor: #f0f0f0

! Alt-key behaviour
xterm*eightBitInput: False
xterm*metaSendsEscape: True