! Loaded on login
! Reload with:
! xrdb -merge $HOME/.Xresources

! URxvt options

! See:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod#RESOURCES
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.7.pod

URxvt.title: urxvt

URxvt.urgentOnBell: True
URxvt.visualBell: False

URxvt.cursorBlink: True
URxvt.saveLines: 16384

! Scrolling behaviour
URxvt.jumpScroll: False
URxvt.skipScroll: False
URxvt.scrollTtyOutput: True
URxvt.scrollWithBuffer: False
URxvt.scrollTtyKeypress: True

! Scrollbar style
URxvt.scrollstyle: plain
URxvt.scrollBar_right: True

! Fonts
URxvt.font: xft:DejaVuSansMono:style=Book:antialias=true:size=20

! Colours
URxvt.background: #000000
URxvt.foreground: gray90
URxvt.color7: gray90
URxvt.colorBD: #ffffff
URxvt.cursorColor: #22adb5
URxvt.throughColor: #8080f0
URxvt.highlightColor: #f0f0f0
