! Loaded on login
! Reload with:
! xrdb -merge $HOME/.Xresources

xterm*urgentOnBell: True
xterm*visualBell: False

xterm*cursorBlink: True
xterm*saveLines: 16384

! Scrolling behaviour
xterm*jumpScroll: False
xterm*skipScroll: False
xterm*scrollTtyOutput: True
xterm*scrollWithBuffer: False
xterm*scrollTtyKeypress: True

! Scrollbar style
xterm*scrollstyle: plain
xterm*scrollBar_right: True

! Fonts
xterm*faceName: DejaVu Sans Mono Book
xterm*faceSize: 22

! Colours
xterm*background: #000000
xterm*foreground: gray90
xterm*cursorColor: #22adb5
xterm*highlightColor: #004499
xterm*highlightTextColor: #00dd66

! Alt-key behaviour
xterm*eightBitInput: False
xterm*metaSendsEscape: True
