[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=keepass
Comment=password database
Exec=keepass2 "/home/glenn/.ssh/Database.kdbx" -preselect:/home/glenn/.ssh/pwsafe.key
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

