[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=power
Comment=
Exec=xfce4-power-manager
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

